{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <a href="{{ path('home') }}"><h1 class="title">Makigai Maimai p<span>126</span></h1></a>
    </header>
    <p class="form-information">Remplissez ce formulaire pour vous inscrire aux newsletters : </p>
    {{ form_start(form) }}
    <div id="form">
        <div class="message">
            {% for notice in app.flashes('notice') %}
                <p style="background: gold">{{ notice }}</p>
            {% endfor %}
        </div>
        {{ form_errors(form) }}
        {{ form_row(form.lastname,  { 'label': 'Nom (facultatif) :'}) }}
        {{ form_row(form.firstname,  { 'label': 'Prénom (facultatif) :'}) }}
        {{ form_row(form.email, { 'label': 'Adresse électronique :'}) }}
        {{ form_row(form.submit , { 'label': 'Je m\'abonne', 'attr': {'class': 'btn'}}) }}
    </div>
    {{ form_end(form) }}
{% endblock %}